.main {
    background-color: #f5f7fb;
}

.block-container {
    padding-top: 2rem;
}

h1 {
    color: #174EA6;
    font-weight: 700;
}

h3 {
    color: #333333;
}

.stButton > button {
    width: 100%;
    height: 50px;
    background: #174EA6;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    font-weight: bold;
}

.stButton > button:hover {
    background: #0f3575;
    color: white;
}

.stTextInput input {
    border-radius: 8px;
}

.stTextArea textarea {
    border-radius: 8px;
}

section[data-testid="stSidebar"] {
    background-color: #f0f2f6;
}

hr {
    margin-top: 30px;
    margin-bottom: 30px;
}